.sentimentCaptureView {
  padding: 0;
  flex-direction: column;
  display: flex;
}

.currentDate {
  color: #fff;
  margin-top: 1em;
  text-align: center;
}

.greeting {
  align-items: center;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex: 1;
}

.greetingBigText {
  font-weight: 900;
  font-size: 8rem;
  margin-bottom: 2rem;
}

.greetingMedText {
  font-size: 1.5rem;
}

.contentCard,
.contentCard__noteVisible {
  align-self: flex-end;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 -0.125rem 1rem rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 2rem;
  width: 100%;
}

.contentCard__noteVisible {
  flex: 1;
  margin-top: 1rem;
}

.ctaWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  border-top: 1px solid #eee;
  padding-top: 1rem;
  padding-bottom: calc(env(safe-area-inset-bottom, 0) / 2);
}

.ctaWrapper__noteVisible {
  margin-top: 1rem !important;
}

.ctaWrapper + .ctaWrapper {
  margin: 0;
  border: none;
}

.ctaWrapper > button:first-child {
  margin-right: 1rem;
  flex-grow: 1;
}

.ctaWrapper > button:last-child {
  flex-grow: 2;
  margin-right: 0;
}

.ctaPrimary {
  color: #fff;
}

.ctaSecondary {
  background: none;
}

.closeCta {
  color: #777;
}
