.sentimentColorContainer {
  display: flex;
  color: #fff;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  padding: 1rem;
}

.entryDateWrapper {
}

.entryDate {
  font-size: 1.25rem;
}

.entryDay {
  font-size: 4rem;
  font-weight: 900;
}

.entryColor {
  font-size: 1.25rem;
}

.monthDetailsCta {
}
