.sentimentListView {
  background: #f9f9f9;
  list-style-type: none;
  position: relative;
  padding: 0;
  margin-bottom: 4rem;
}

.logSentimentCtaWrapper {
  box-sizing: border-box;
  bottom: env(safe-area-inset-bottom, 0);
  padding: 0 1rem;
  position: fixed;
  width: 100%;
}
