.sentimentListViewWrapper { }

.sentimentListView {
  background: #f9f9f9;
  list-style-type: none;
  position: relative;
  padding: 0;
}

.sentimentListItem {
  color: #fff;
  padding: 2rem 1rem;
}

.dayOfWeek {
  font-size: 4rem;
  font-weight: 900;
  text-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.15);
}

.date {
  font-size: 1rem;
  font-weight: normal;
  text-shadow: 0 0.125rem 0.125rem rgba(0,0,0,0.15);
}

.logSentimentCtaWrapper {
  box-sizing: border-box;
  bottom: 1rem;
  padding: 0 1rem;
  position: absolute;
  width: 100%;
}

.logSentimentCtaBtn {
  background: #fff;
  box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
  color: #444;
  width: 100%;
}
