.sentimentListView {
  background: #f9f9f9;
  list-style-type: none;
  position: relative;
  padding: env(safe-area-inset-top, 0) 0 6em;
}

.logSentimentCtaWrapper {
  box-sizing: border-box;
  bottom: max(env(safe-area-inset-bottom, 0), 1em);
  padding: 0 1rem;
  position: fixed;
  width: 100%;
}
