.sentimentBlockAverage {
  color: #aaa;
  padding-left: 1em;
}

.sentimentColorTile {
  border-radius: 0.25em;
  display: inline-block;
  height: 1em;
  margin-right: 0.5em;
  text-indent: -9999em;
  width: 1em;
}
