.sentimentListViewBlockSection {
  margin: 0 1rem 3rem;
}

.sentimentListViewBlockSection li:last-child {
  margin-bottom: 0;
}

.sectionHeading {
  color: #aaa;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0 1rem 0.5rem;
}

.sentimentListViewBlockSection--full { }
.sentimentListViewBlockSection--condensed { }
.sentimentListViewBlockSection--month { }
